header {
    background: #65c5c1;
    height: 400px;
}

header img {
    width:100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
}

ul li {
    color: #8a8e91;
}