<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enosis project</title>
    <meta name="Enosis Application - project" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="assets/css/responsive.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>

<!-- Navigation
    ================================================== -->
<div class="hero-background">
    <div class="container">
        <!-- Hero-Section
          ================================================== -->
        <div class="hero row">
          <div class="hero-right col-sm-6 col-sm-6">
            <h1 class="header-headline">Redécouvrez votre ville<br></h1>

                <a class="logo" href="#"> <img class="logo" src="assets/images/logo.png"/> </a>
                <h4 class="header-running-text light">Une application anonyme et ouverte reliant en temps réel les lieux de vie d’une ville aux centres d’intérêt de ceux qui les fréquentent.</h4>
                <a href="#features">
                    <button class="hero-btn">En savoir plus !</button>
                </a>

            </div><!--hero-left-->

            <div class="col-sm-6 col-sm-6 ipad">
                <img class="ipad-screen img-responsive" src="assets/images/screen.png"/>

            </div>
            <div><img class="mouse" src="assets/images/mouse.svg"/></div>
        </div><!--hero-->
    </div> <!--hero-container-->
</div><!--hero-background-->


<!-- Features
  ================================================== -->

<div id="features" class="features-section">
  <div>
      <img class="strips" src="assets/images/strips.png">
  </div>

    <div class="features-container row">

        <h2 class="features-headline light">EnosisApp expliqué en 90 secondes</h2>
        <div class="video-container">
         <iframe width="880" height="495" src="https://www.youtube.com/embed/C0hYfpy5vJA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> <!--features-container-->

</div> <!--features-section-->

<!-- Logos
  ================================================== -->

<div class="logos-section">
  <p>
    <img src="assets/images/logos-store.jpg"/><br>Sortie 10/2017
  </p>
  <hr>
  <p class="partners light">Ils nous soutiennent</p>
    <a href="http://www.labri.fr/"><img class="logos" src="assets/images/logos.png"/></a>
</div><!--logos-section-->

<!-- Footer
  ================================================== -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 rights">© 2017 Enosis All Rights Reserved</div>

            <div class="col-sm-4 webscope">
            </div>
            <!--webscope-->

            <div class="col-sm-4">
                <div class="social-links">
                    <a href="https://twitter.com/enosisapp"> <img class="social-link"
                                                                    src="assets/images/twitter.svg"/> </a>
                </div>
                <!--social-links-->
            </div>
            <!--social-links-parent-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<!--footer-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
