<!doctype html>
<html lang="fr">
<!--

Page    : index
Version : 1.0
Author  : EnosisApp

 -->
<head>
    <title>Enosis - Mentions légales</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Main css -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/">
                        <svg class="img-fluid" id="logo" alt="logo" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        	 viewBox="0 0 382.5 115.4" style="enable-background:new 0 0 382.5 115.4;" xml:space="preserve">
                        <text transform="matrix(1 0 0 1 4.2285 105.9997)" class="st0 st1 st2">Enosis</text>
                        </svg>
                        </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a href="/#download" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Télécharger la Beta</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- // end .section -->
    <div class="section">
        <div class="container">
            <div class="row" id="mentions">
              <h3>Informations légales</h3>
              <ol>
              <li>Présentation du site.</li>

              <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site https://enosisapp.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
              <p><strong>Propriétaire :</strong> ENOSISAPP - - Bâtiment 9A, 15 Rue de Naudet, 33175 Gradignan</p>
              <p><strong>Créateur :</strong>  ENOSISAPP</p>
              <p>Responsable publication :</strong>  Nicholas Journet - journet@labri.fr</p>
              <p>Le responsable publication est une personne physique ou une personne morale.</p>
              <p><strong>Webmaster :</strong>  Nicolas Fèvre - fevre.nico@hotmail.fr</p>
              <p><strong>Hébergeur :</strong>  OVH - 140, quai du Sartel 59100 Roubaix France</p>

              <li>Conditions générales d’utilisation du site et des services proposés.</li>
              <p>L’utilisation du site https://enosisapp.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site https://enosisapp.fr sont donc invités à les consulter de manière régulière.</p></p>
              <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par PROPRIETAIRE, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
              <p>Le site https://enosisapp.fr est mis à jour régulièrement par Nicholas Journet. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>

              <li>Description des services fournis.</li>
              <p>Le site https://enosisapp.fr a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
              <p>ENOSISAPP s’efforce de fournir sur le site https://enosisapp.fr des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
              <p>Tous les informations indiquées sur le site https://enosisapp.fr sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site https://enosisapp.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

              <li>Limitations contractuelles sur les données techniques.</li>
              <p>Le site utilise la technologie JavaScript.</p>
              <p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</p>

              <li>Propriété intellectuelle et contrefaçons.</li>
              <p>ENOSISAPP est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
              <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : ENOSISAPP.</p>
              <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

              <li>Limitations de responsabilité.</li>
              <p>ENOSISAPP ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au sitehttps://enosisapp.fr, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
              <p>ENOSISAPP ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site https://enosisapp.fr.</p>
              <p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. ENOSISAPP se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, ENOSISAPP se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>

              <li>Gestion des données personnelles.</li>

              <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
              <p>A l'occasion de l'utilisation du site https://enosisapp.fr, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site https://enosisapp.fr, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.</p>
              <p>En tout état de cause ENOSISAPP ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site https://enosisapp.fr. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site https://enosisapp.fr l’obligation ou non de fournir ces informations.</p>
              <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.</p>
              <p>Aucune information personnelle de l'utilisateur du site https://enosisapp.fr n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de ENOSISAPP et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site https://enosisapp.fr.</p>
              <p>Le site n\'est pas déclaré à la CNIL car il ne recueille pas d\'informations personnelles.</p>
              <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>

              <li>Liens hypertextes et cookies.</li>

              <p>Le site https://enosisapp.fr contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de PROPRIETAIRE. Cependant, ENOSISAPP n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
              <p>La navigation sur le site https://enosisapp.fr est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
              <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :
              <p>Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.
              <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l'onglet Options. Cliquer sur l'onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l'historique. Enfin décochez-la pour désactiver les cookies.
              <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.
              <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.

              <li>Droit applicable et attribution de juridiction.</li>
              <p>Tout litige en relation avec l’utilisation du site https://enosisapp.fr est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.

              <li>Les principales lois concernées.</li>
              <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
              <p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.

              <li>Lexique.</li>
              <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.
              <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).

            </ol>
        </div>
    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span>Bâtiment 9A, 15 Rue de Naudet, 33175 Gradignan</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:&#101;&#110;&#111;&#115;&#105;&#115;&#097;&#112;&#112;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#101;&#110;&#111;&#115;&#105;&#115;&#097;&#112;&#112;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/enosisApp/" rel="nofollow"><span class="ti-facebook"></span></a>
                        <a href="https://twitter.com/EnosisApp?lang=fr" rel="nofollow"><span class="ti-twitter-alt"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2018. TEMPLATE BY <a href="https://colorlib.com" rel="nofollow">COLORLIB</a></small></p>
    </footer>
    <!-- jQuery and Bootstrap -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="js/script_mentions.js"></script>
</body>
</html>
